@tailwind base;
@tailwind components;
@tailwind utilities;

/* one-liner smooth scroll */
html {
  scroll-behavior: smooth;
}
body {
  @apply font-sans;
}
h1 {
  @apply tracking-wide;
}
h2 {
  @apply font-bold uppercase tracking-tight text-3xl md:text-4xl;
}
h3 {
  @apply text-2xl md:text-2xl font-semibold text-primary tracking-normal text-primaryText;
}
.bg-primary-opacity-gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(127, 199, 217, 0.2) 0%,
    white 50%,
    rgba(127, 199, 217, 0.2) 100%
  );
}
/* .image-gallery-content {
  max-height: 600px;
  overflow: hidden;
} */
/* 
.image-gallery-thumbnail img {
  height: 100px;
  object-fit: cover;
} */
